kafka.enabled={{ nuxeo_kafka_enabled | lower }}
kafka.bootstrap.servers={{ nuxeo_kafka_bootstrap_servers }}
kafka.replication.factor={{ nuxeo_kafka_replication_factor }}
kafka.partitions={{ nuxeo_kafka_partitions }}
kafka.consumer.group.id={{ nuxeo_kafka_consumer_group_id }}
kafka.consumer.auto.offset.reset=earliest
kafka.producer.acks=all
